html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@property --primary-color {
  syntax: "<color>";
  initial-value: white;
  inherits: true;
}

body {
  --background-color: black;
  --error-color: red;

  background-color: var(--background-color);
  color: var(--primary-color);

  font-family: "Monaspace Neon", monospace;
}

@keyframes primary-color-cycle {
  0% {
    --primary-color: #ff1493;
  }
  12.5% {
    --primary-color: #ff0000;
  }
  25% {
    --primary-color: #ffa500;
  }
  37.5% {
    --primary-color: #ffff00;
  }
  50% {
    --primary-color: #7fff00;
  }
  62.5% {
    --primary-color: #00ffff;
  }
  75% {
    --primary-color: #0000ff;
  }
  87.5% {
    --primary-color: #9932cc;
  }
  100% {
    --primary-color: #ff1493;
  }
}

html {
  animation: 30s primary-color-cycle infinite linear;
}
