html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@property --primary-color {
  syntax: "<color>";
  initial-value: white;
  inherits: true;
}

body {
  --background-color: black;
  --error-color: red;

  background-color: var(--background-color);
  color: var(--primary-color);

  font-family: "Monaspace Neon", monospace;
}

@keyframes primary-color-cycle {
  0% {
    --primary-color: hsl(0, 100%, 50%);
  }
  12.5% {
    --primary-color: hsl(45, 100%, 50%);
  }
  25% {
    --primary-color: hsl(90, 100%, 50%);
  }
  37.5% {
    --primary-color: hsl(135, 100%, 50%);
  }
  50% {
    --primary-color: hsl(180, 100%, 50%);
  }
  62.5% {
    --primary-color: hsl(225, 100%, 50%);
  }
  75% {
    --primary-color: hsl(270, 100%, 50%);
  }
  87.5% {
    --primary-color: hsl(315, 100%, 50%);
  }
  100% {
    --primary-color: hsl(360, 100%, 50%);
  }
}

html {
  animation: 30s primary-color-cycle infinite linear;
}
